@import "@orderly.network/ui/dist/styles.css";
@import "../styles/theme.css";
@import "../styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.oui-scaffold-footer {
  display: none !important;
}

/* hide trading rewards on mobile */
.oui-portfolio-page .oui-box.oui-flex.oui-flex-nowrap>div:nth-child(2).oui-box.oui-flex.oui-justify-start.oui-flex-nowrap.oui-relative {
  display: none;
}

/* hide the API guide link in the portfolio API key manager */
#portfolio-apikey-manager .oui-border-b-2.oui-border-line-6.oui-pb-4>.oui-flex-col.oui-gap-1>div:last-child {
  display: none !important;
}

/* hide affiliate home intro content */
#oui-affiliate-home-subtitle,
#oui-affiliate-home-asAnAffiliate {
  display: none !important;
}
